html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFF4;
  height: 80px;
  width: 100%;
  flex-shrink: 0;
}

main {
  display: flex;
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;          /* if window shrinks, the boxes will stay 100 pixels wide */
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
  flex-shrink: 3;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.item {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: #f3c5e0;
}

.setWidth {
  flex-basis: 100px;
  flex-grow: 1;
}
