html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFF4;
  height: 100%;
  width: 100%;
}

main {
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #f3c5e0;
}

.setWidth {
  flex-basis: 100px;
  flex-grow: 1;
}
