html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFF4;
  height: 80px;
  width: 100%;
  flex-shrink: 0;
}

main {
  display: flex;
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  flex: auto;
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
  flex-shrink: 3;
}

.flex-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.setWidth {
    flex-basis: 100px;
    flex-grow:1;
}

.setalign {
    align-self: flex-end;
}
