html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFF4;
  height: 80px;
  width: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}