html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFF4;
  height: 80px;
  width: 100%;
}

main {
  display: flex;
  background-color: #FBFFF4;
  width: 100%;
  height: 100%;
  flex-flow: wrap;
  /*justify-content: space-between;*/
  align-items: stretch;
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
}




.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
