html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FBFFE5;
  height: 80px;
  width: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  background-color: #92C9D5;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #DAEEEF;
  height: 80px;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.item{
  height:100px;
  width:100px;
  margin: 5px;
  background-color: #FCF2EC;
}

.setWidth {
  flex-basis: 100px;
  flex-grow: 1;
}